/* FOODHUB */
.headerlogo {
    text-align: center;
    margin: 20px;
}

.Applogo {
    width: 67%;
}

/* logo en vistas */

.logoview {
    width: 50%;
}

.headerview {
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

.btnOut {
    background-color: #FAF0CC;
    border: none;
    font-size: 22px;
}

hr {
    width: 100%;
    border-top-width: 5px;
}

@media only screen and (max-width: 1920px){
    .Applogo {
        width: 50%;
    }
}