@font-face {
  font-family: balooSemibold;
  src: url('fonts/BalooDa2-SemiBold.ttf');
}

@font-face {
  font-family: balooRegular;
  src: url('fonts/BalooDa2-Regular.ttf');
}

body {
  background-color: #FAF0CC;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* aqui esta la vista login */
.view-login {
  display: flex;
  flex-direction: column;
}


/* formulario login */
.form {
  padding: 100px 0px 100px 0px;
  font-family: balooSemibold, sans-serif;
}

.form-control {
  border: 0;
  background-color: #FFD384;
  font-size: 25px;
}

.row.mb-5 {
  font-size: 30px;
  justify-content: center;
}

.form-select {
  border: 0;
  background-color: #FFD384;
  font-size: 25px;
  background-size: 30px 30px;
}

option {
  font-size: 15px;
}

.btnL {
  text-align: center;
}

.btn-login {
  border: none;
  border-radius: 60px;
  background-color: #C6DA20;
  color: #00000090;
  font-size: 30px;
  width: 30%;
}

.fail {
  color: #DA1212;
  font-family: balooRegular, sans-serif;
  font-size: 25px;
  padding-top: 10px;

}

/* aqui estan la vista mesero */

.logoview {
  width: 50%;
}

.headerview {
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

.btnOut {
  background-color: #FAF0CC;
  border: none;
  font-size: 22px;
}

hr {
  width: 100%;
  border-top-width: 5px;
}

.gretting {
  font-size: 40px;
  font-family: balooSemibold, sans-serif;
  margin: 25px;

}

/* botones mesero */

.btnWaiter {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* aqui esta el boton nueva orden */
.orderbtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
  flex-direction: row;
  width: 94vw;
}

.btn-circle {
  width: 70px;
  height: 70px;
  padding: 6px 0px;
  border-radius: 60px;
  text-align: center;
  font-size: 45px;
  font-family: balooSemibold, sans-serif;
  line-height: 1.42857;
  background-color: #C6DA20;
  color: #00000070;
}

.labelOrder {
  font-family: balooRegular, sans-serif;
  font-size: 30px;
  color: #91A900;
  margin-left: 20px;
}

/* formulario */
.formMenu {
  width: 100vw;
}

/* aqui esta el contenedor del menu */
.containerMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  align-items: stretch;
}

/* aqui esta ael contenedor del input */
.containerInput {
  display: flex;
  justify-content: center
}

/* aqui esta los input menu */
.inputCliente {
  font-family: balooRegular, sans-serif;
  font-size: 40px;
  text-align: center;
  background-color: #FFD384;
  color: #F08C00;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
}

.inputCliente:hover {
  background-color: #FFD38470;
  border: 2px solid #FFD384;
}

.inputMesa {
  font-family: balooRegular, sans-serif;
  font-size: 40px;
  color: #F08C00;
  background-color: #FFD384;
  font-size: 40px;
  border: none;
  width: 150px;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
}
.inputMesa:hover {
  background-color: #FFD38470;
  border: 2px solid #FFD384;
}

::placeholder {
  font-family: balooRegular, sans-serif;
  font-size: 40px;
  color: #F08C00;
  font-size: 40px;
  text-align: center;
}

/* aqui esta los botones menu */
.btnMenu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30vw;
}

.btn-menu {
  width: 200px;
  height: 60px;
  padding: 6px 0px;
  border-radius: 60px;
  text-align: center;
  font-size: 35px;
  font-family: balooSemibold, sans-serif;
  line-height: 1.42857;
  background-color: #C6DA20;
  color: #00000080;
  margin: 15px;
}

.btn-menu:hover{
  background-color: #C6DA2020;
  color: #91A900;
  border: 3px solid #91A900;
  
}

/* lista productos */
.products {
  width: 410px;
  text-align: center;
  padding: 10px;
}

.products ul {
  padding: 0;
  margin: 0;
}

.products li {
  font-family: balooSemibold, sans-serif;
  font-size: 30px;
  list-style: none;
  height: 100px;
  margin-bottom: 5px;
}

/* Botones contador */
.btnCount {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: baseline;
}

.btnPlus {
  background-color: #C6DA20;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: #00000090;
  font-size: 23px;
}

.btnLess {
  background-color: #DA1212;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  font-size: 23px;
}

.count {
  font-family: balooSemibold, sans-serif;
  font-size: 35px;
  margin: 0;
}

.containerSummary{
  background-color: #FFD38440;
  border-radius: 20px;
  width: 95vw;
  height: 500px;
}

